<div class="flex justify-content-center align-items-center container-beecome">
    <div class="grid conteudo-principal">
        <div class="flex flex-column container-time-line col-12 md:col-7">
            <h3 class="titulo">Acenda o amor pelos animais — direto da sua conta de energia!</h3>
            <p class="texto mt-3">A Lunaar tem uma novidade linda para quem quer ajudar nossos animais de forma simples
                e contínua 💛
                Firmamos uma parceria especial com a Energisa!</p>
            <p class="texto">👉 Como funciona?</p>
            <p class="texto">Você preenche um formulário com seus dados e escolhe o valor que deseja doar.
                Pronto! A contribuição passa a vir automaticamente na sua fatura de energia.</p>
            <p class="texto">✨ Uma atitude pequena para você, mas gigante para quem precisa.
                Com essa ajuda, conseguimos manter resgates, tratamentos, alimentação e cuidados diários com cães e
                gatos que dependem da nossa rede de amor.</p>
            <p class="texto">Doe luz. Doe cuidado. Doe esperança.</p>
        </div>
        <div class="flex align-items-center justify-content-center col-12 md:col-5">
            <img src="/assets/images/energisa.png" class="imagem w-full h-auto" alt="Animais para adoção"
                (click)="navegar('https://forms.gle/UGhtUhqCAopLBJJS8')" />
        </div>
    </div>
</div>