.container-sobre {
    width: 100%;

    .customizado {
        border-radius: 15px;
    }

    .titulo {
        text-align: start;
    }
}

@media(max-width: 992px) {
    .sobre-img {
        display: none !important;
    }
}