.texto {
  font-size: 14px;
}

.conteudo-principal {
  .imagem {
    width: 60vh;
  }
}


@media(max-width: 768px) {
  .conteudo-principal {
    width: 100% !important;
  }

  .imagem {
    display: none !important;
  }
}