<div class="flex justify-content-center align-items-center container-beecome">
    <div class="grid conteudo-principal">
        <div class="flex flex-column gap-1 container-time-line col-12 md:col-9">
            <h3 class="titulo">Apadrinhe a Lunaar: ajude, faça o bem e ganhe benefícios</h3>
            <p class="texto mt-3">Você pode se tornar padrinho ou madrinha e fazer parte ativa dessa transformação.</p>
            <p class="texto">Com uma doação a partir de R$ 10,00, você ajuda a Lunaar a manter suas despesas mensais,
                garantir cuidados, acolhimento e continuar salvando vidas.
                E como forma de agradecimento, você ainda recebe mais de R$ 30.000,00 em descontos.</p>
            <p class="texto">É um gesto pequeno para quem doa, mas gigante para quem precisa.</p>
            <p class="texto">Para participar é fácil: </p>
            <p class="texto">Clique no imagem e siga o passo a passo na conversa do WhatsApp</p>
        </div>
        <div class="flex align-items-center justify-content-center col-12 md:col-3">
            <img src="/assets/images/beecome.png" class="imagem" alt="Animais para adoção"
                (click)="navegar('https://api.whatsapp.com/send?phone=556599264106&text=Quero%20me%20tornar%20um%20assinante%20do%20Lunaar')" />
        </div>
    </div>
</div>