@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p,
span,
div {
    font-family: 'Inter', sans-serif;
}

.conteudo-principal {
    width: 70% !important;
    padding: 1em !important;

    .texto {
        font-size: 13px !important;
    }
}


@media (max-width: 992px) {
    .conteudo-principal {
        width: 90% !important;

        .texto {
            font-size: 13px !important;
            font-weight: 400 !important;
        }
    }
}

.remove-espaco {
    padding: 0px !important;
    margin-bottom: 0px !important;
}


/* impede o carousel de "quebrar" e mostrar outro item embaixo */
.p-carousel-items-container {
  flex-wrap: nowrap !important;
}

/* corta qualquer vazamento de item */
.p-carousel-content {
  overflow: hidden !important;
}

/* trava a área do carousel (ajuste o tamanho) */
.container-carrosel {
  height: 420px;
  overflow: hidden;
}

/* garante que cada item ocupe a altura toda */
.container-carrosel .carousel-item {
  height: 100%;
}

/* imagem preenchendo corretamente */
.container-carrosel .carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.p-carousel-prev,
.p-carousel-next {
  display: none !important;
}
